/* Base styles ------------  */
@font-face {
  font-family: 'wisdom';
  src: url('../fonts/wisdom.ttf');
}
body  {
  font-family: 'Montserrat', sans-serif;
  color: black;
  /* turn on flexbox - centers the container in the body */
  display: flex;
  justify-content: center;
  /* Create default font-size for site to be 1em */
  font-size: 16px;
}

/* ------ MOBILE FIRST LAYOUT ---------- */

/* create a flexbox container to hold everything on page and ensure everything can wrap */
.container {
  max-width: 1200px;
  /* width of 90% keeps space at either side as the screen size gets smaller */
  width: 90%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}

/* Make all the sections 100% width */
header,
footer,
.top-section,
.bottom-section {
  width: 100%;
}

/* ------ HEADER - Mobile First layout -------------- */
/* Need to wrap header items  */
header {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 1em 0;
}
header h1 {
  width: 100%;
  font-size: 2em;
  line-height: 2;
  text-transform: uppercase;
  text-align: center;
  border-bottom: solid 2px #77a466;
}
h1 span {
  color: #77a466;
}
header nav {
  line-height: 2;
}
/* Remove default padding from the ul */
header nav ul {
  padding: 0;
}
header nav ul li {
  display: flex;
  justify-content: center;
}
header nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #77a466;
  font-weight: bold;
}

/* ------ TOP SECTION - Mobile First layout -------------- */

.top-section img {
  /* Make img fluid with a % width */
  width: 100%;
  border: solid 2px #77a466;
}
.top-section h2 {
  line-height: 1.5;
  color: #77a466;
  text-transform: uppercase;
  padding-top: 10px;
}
.top-section p {
  line-height: 1.5;
  padding-bottom: 20px;
}

/* ------ BOTTOM SECTION - Mobile First Layout ------------ */
.bottom-section {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}
.box-one,
.box-two,
.box-three {
  width: 100%;
  border-top: 1px solid lightgrey;
  padding-top: 20px;
}
.bottom-section h3 {
  font-size: 0.8em;
  line-height: 1.5em;
  text-transform: uppercase;
  padding-bottom: 20px;
}
#specials ul {
  list-style-type: none;
  padding-left: 0;
}
#specials ul li a {
  line-height: 2em;
  text-decoration: none;
  color: #77a466;
}
#reviews p {
  font-size: 16px;
  line-height: 21px;
}
#contact p {
  font-size: 16px;
  line-height: 24px;
}

/* Footer --------------- */
footer {
  padding: 1.5em;
}
footer h3 {
  font-size: 0.95em;
  text-align: center;
  text-transform: uppercase;
}
footer h3 span {
  font-family: 'wisdom';
  color: #77a466;
  text-transform: lowercase;
  font-style: italic;
  font-weight: normal;
}


/*  INSERT MEDIA QUERIES FOR TABLET AND DESKTOP HERE */

@media (min-width: 768px) {

  body {
    /* font-size: 1.2em; */
  }
  /* Make the widths of the 3 boxes just 30% on desktop view */
  .box-one,
  .box-two,
  .box-three {
    width: 30%;
    border-bottom: 1px solid lightgrey;
    flex-grow: 1;
  }
  /* NEED TO FIND OUT - HOW TO DEAL WITH PADDING - if I apply padding it goes wrong on tablet size??? */
  #reviews,
  #contact {
    padding-left: 1em;
  }
  #reviews {
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-right: 1em;
  }
}

@media (min-width: 1200px) {

  /* Apply flexbox formatting to the Header, h1 and nav area for desktop layout */
  header {
    justify-content: space-between;
    align-items: center;
  }
  header h1 {
    width: 30%;
    text-align: left;
    border-bottom: none;
  }
  nav {
    width: 40%;
  }
  nav ul {
    display: flex;
    justify-content: space-between;
  }
}
